html {
    animation: subtle 60s infinite;
    font-family: Consolas, Monaco, Monospace;
/*    background: #0f0;*/ /*property for testing*/
}
* {margin: 0.5em 0;}
a {transition: color 0.25s, outline-color 0.25s;}
a, summary, .logo {
    outline-color: transparent;
    outline-offset: 1px;
}
a:link, summary {color: #0FF;}
a:visited {color: #808080;}
a:hover, a:focus, summary:hover, summary:focus {color: #FF0;}
a:hover, summary:hover, a:hover > .logo, a:focus > .logo, :focus {outline: #FFF 1px solid;}
a:active, summary:active {
    color: #F00;
    outline: #F00 1px solid;
}
a:link > .logo {background: #0FF;}
a:visited > .logo {background: #808080;}
a:hover > .logo, a:focus > .logo {background: #FF0;}
a:active > .logo {
    background: #F00;
    outline: #F00 1px solid;
}
body {
    animation: appear 0.5s 1 forwards;
    background-color: #000;
    color: #FFF;
    left: 0;
    margin: 0 24%;
    min-height: 100%;
    opacity: 0;
    outline: #FFF 5px solid;
    padding: 0 1%;
    position: absolute;
    top: 0;
    width: 50%;
}
#body {padding-bottom: 70px;}
br, img, summary {user-select: none}
div.credits {
    background: #000;
    bottom: calc(1% + 5px);
    left: calc(12% - 5px);
    margin: 0;
    max-width: calc(16% - 5px);
    outline: #FFF 5px solid;
    padding: 0.5% 1%;
    position: fixed;
    transform: translate(-50%, 0%);
}
h1, h2, small.credits {text-transform: uppercase;}
@keyframes appear {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes subtle {
    0.000000000% {background: #000;}
    16.66666667% {background: #200000;}
    33.33333333% {background: #202000;}
    50.00000000% {background: #002000;}
    66.66666667% {background: #000020;}
    83.33333333% {background: #200020;}
    100.0000000% {background: #000;}
}
.logo {
    margin: 0;
    position: absolute;
    transition: background 0.25s, outline-color 0.25s;
}
summary {
    display: inline;
    margin: 1% 0;
    transition: color 0.25s;
    font-weight: bold;
}
summary:hover {cursor: pointer;}
u:hover {cursor: help;}
ul {
    list-style-type: "- ";
    padding-left: 2em;
}
